{{> header}}
<main>
    {{>nav}}
     <section class="info">
       
    <article class="info">
         <div>
                     <h1 class="headline">
Get started</h1>
             <div>
                Get started by reading the README file
             </div>
         </div>
    </article>
    </section>
</main>
{{>footer}}