{{> header}}
<main>
    {{>nav}}
    <section class="info">
        <article class="content">
                <h1 class="headline">Get started</h1>
                <p>
                    Open source is a powerful force. It's the reason we can build a better world today, and it's
                    also why you should be using open source tools in your daily life.
                </p>
                <p>
                    Today I'm launching an open source project that lets you build with simple and efficient tools
                    on top of a decentralized infrastructure (Shadow drive and the Shadow network).
                </p>

                <p>
                    The tools that we've used are long established software that many developers have simply
                    forgotten about. The main tools are a template language called handlebars and a task runner
                    called gulp. With these two tools alone you can effortlessly create any website you want.

                </p>

                <p>The project is available <a href="https://github.com/CodeableAS/shdw-drive-jamstack">this github
                        repository</a>
                </p>
                <p>A current and ever up to date list of decentralized websites are available here <a
                        href="https://www.sdrive.app/websites">sdrive.app/websites</a>
                </p>

                <p>To publish a website, you need to follow five simple steps. Read more <a
                        href="blog-readme.html">here</a>
                </p>
        </article>
    </section>
</main>
{{>footer}}